html body {
    padding: 0;
    margin: 0;
    background-color: #008080;
    overflow: hidden;

}

.barraTareas {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background-color: #C0C0C0;
}

#startButton {
    height: 30px;
}

#tiempo {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 100px;
    background-color: #BFC1C0;
    border: solid 1px black;
}

.centeredImg {
    text-align: center;
    width: 40%;
}

.pres1 {
    position: absolute;
    left: 10%;
    top: 10%;
}

span{
    font-family:"Pixelated MS Sans Serif";
}
.escritorio {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    width: 100%;
    z-index: -1;
    background-image: url("../public/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;

}
@media only screen and (orientation: portrait) {

    .escritorio {

        background-repeat: no-repeat;
        background-size:cover;
        min-height: none;
        background-position: center;
    }
}

.icon {
    width: 100px;
    margin: 10px 5px;
    text-align: center;
    background: none;
    border: none;
}
.icon img{
    height: 70%;
    margin: 0;
}
.Iconnametag{
    width: 100%;
    border: dotted gray 1px;
    word-wrap: break-word;
    
}
.Iconnametag p{
margin: 0;
}
#iconActive{
    background-color: #003333;
    color: white;
}
.Menu-Inicio{
    position: absolute;
    bottom: 30px;
    width: 200px;
    height: 300px;
    background-color: #C0C0C0;
    display: none;
    border-bottom: black 1px solid;
    
}
.Menu-Inicio-SideBar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20px;
}
.Menu-Inicio-Activo{
    display:block !important;
}
.flex-container-Menu {
    position: relative;
    left: 20px;
    width: 180px;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: normal;
  }
  .flex-container-Menu-Item {
    user-select: none;
    height: 25px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .flex-container-Menu-Item:hover {
    background-color: #000080;
    color: white;
  }

  #taskbarIcons{
    position: absolute;
    top: 0;
    left: 72px;
    right:  100px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
